/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

	@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
	@import url(http://fonts.googleapis.com/css?family=Open+Sans);
	
    body {
      color: #5a5a5a;
      background: url(/static/img/white-bg.png);
    }
	
	footer {
		background: url(/static/img/plaid-bg.gif);
		height: 200px;
		border-top: 5px solid #1f1f1f;
	}
	
	footer p {
		margin: 20px auto auto 20px;
	}

    /* NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-bottom: -90px; /* Negative margin to pull up banner. 90px is roughly margins and height of navbar. */
      width: 100%;
    }
    .navbar-wrapper .navbar {
		width: 100%;
		color: #1f1f1f;
    }
    
    .navbar-inverse .navbar-inner {
	 background: #202020;
}

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* Banner
    -------------------------------------------------- */

    /* Barousel base class */
   
   
   	
    .banner {
      margin-bottom: 60px;
      background: url(/static/img/world-bg.png) center no-repeat;
       -webkit-filter: brightness(90%);
       height: 350px;
    }

    .banner .container {
      position: relative;
      z-index: 9;
      background: url(/static/img/world-bg.png) center top no-repeat;
    }
	
	.banner-inner {
		
      background: url(/static/img/grey-bg.png) repeat-x center top;
	}
	
    .banner-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
      background: url(/static/img/grey-bg.png) repeat-x center top;
    }


    .banner img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .banner-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 180px;
      min-height: 180px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
    
    .banner-caption h1 { 	
      font-family: 'Text Me One', sans-serif;
    }
    
    .banner-caption h1,
    .banner-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .banner-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the banner */
   
   .container {
   	margin-left: 50px !important;
   	margin-right: 20px !important;	
   }
	
	.row {
		width: 1400px;
	}
    .marketing .span4 {
     width: 300px;
    }
    .marketing .span8 {
     width: 1000px;	
     float: left;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

	.span4 form select {
		width: 90px;
		 -webkit-box-shadow: none !important;
     -moz-box-shadow: none;
          box-shadow: none;
	}
	
	.span4 ul {
		margin-left: 0px !important;
	}
	
	ul li {
		list-style:none;
		font-family: 'Open Sans', sans-serif;
		font-size: 11px;
	}
	
	.span4 .ok {
		background: url(/static/img/ok.png) center right no-repeat;
	}
	
	.span4 .fail {
		background: url(/static/img/fail.png) center right no-repeat;
	}
	
	.span4 .pending {
		background: url(/static/img/pending.png) center right no-repeat;
	}
	
	.span4 .ip {
		float: right;
		margin-right: 50px;
	}
	
	.ip .align {
		margin-left: 12px;
	}
	
	.ip ul li img {
		width: 8px;
		height: 8px;
		cursor:hand;
	}
	
	ul li img {
		width: 16px;
		height: 16px;
		border-radius: 4px;
	}
	
	form .btn {
		margin-left: 20px !important;
	}

	#show, #hide {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		padding: 4px 16px 4px 16px;
		background-color: #eee;
		border-radius: 3px;
	}

	#map-canvas {
		width: 880px;
		height: 450px;
		float: right;
	}
    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

.spin {display:none; clear:right;}
.spin .icon-spinner {font-size: 11px; color: #333; float: right;}

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .banner .item {
        height: 500px;
      }
      .banner img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .banner {
        margin-left: -20px;
        margin-right: -20px;
      }
      .banner .container {

      }
      .banner .item {
        height: 300px;
      }
      .banner img {
        height: 300px;
      }
      .banner-caption {
        width: 65%;
        padding: 0 70px;
      }
      .banner-caption h1 {
        font-size: 30px;
      }
      .banner-caption .lead,
      .banner-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
