{% extends "base.html" %}

{% block content %}
    <div class="container marketing">

      <!-- Three columns of text below the banner -->
      <div class="row">
        <div class="span4">
          
          <form class="form-inline">
          <div class="control-group">
          	<div class="control">
          		<div class="input-prepend input-append">
          			<span class="add-on"><i class="icon-globe"></i></span>
          			<input class="span2" id="inputIcon" type="text" placeholder="www.yourdomain.com">
					    <select> 
					      <option>A</option>
					      <option>AAAA</option>
					      <option>CNAME</option>
					      <option>MX</option>
					      <option>NS</option>
					      <option>PTR</option>
					      <option>SOA</option>
					      <option>TXT</option>
					    </select> 
					    <a id="track" class="btn" href="#">Track It &raquo;</a>
          		</div>
          	</div>
          </div>
          
         			
          </form>
              
          <ul id="flags">
          	<li id="1" class="pending"><img src="{{ STATIC_URL }}img/flags/Australia.png"> Sydney, Australia <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="2" class="pending"><img src="{{ STATIC_URL }}img/flags/Brazil.png"> Rio de Janeiro, Brazil <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="3" class="pending"><img src="{{ STATIC_URL }}img/flags/Canada.png"> Vancouver, Canada <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="4" class="pending"><img src="{{ STATIC_URL }}img/flags/China.png"> Beijing, China <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="5" class="pending"><img src="{{ STATIC_URL }}img/flags/UK.png"> London, United Kingdom <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="6" class="pending"><img src="{{ STATIC_URL }}img/flags/France.png"> Paris, France <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="7" class="pending"><img src="{{ STATIC_URL }}img/flags/Germany.png"> Berlin, Germany <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="8" class="pending"><img src="{{ STATIC_URL }}img/flags/Italy.png"> Milan, Italy <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="9" class="pending"><img src="{{ STATIC_URL }}img/flags/Japan.png"> Tokyo, Japan <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="10" class="pending"><img src="{{ STATIC_URL }}img/flags/Malaysia.png"> Kuala Lumpur, Malaysia <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="11" class="pending"><img src="{{ STATIC_URL }}img/flags/New-Zealand.png"> Auckland, New Zealand <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="12" class="pending"><img src="{{ STATIC_URL }}img/flags/Russia.png"> Moscow, Russia <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="13" class="pending"><img src="{{ STATIC_URL }}img/flags/South-Africa.png"> Cape Town, South Africa <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="14" class="pending"><img src="{{ STATIC_URL }}img/flags/Sweden.png"> Stockholm, Sweden <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="15" class="pending"><img src="{{ STATIC_URL }}img/flags/Turkey.png"> Istanbul, Turkey <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="16" class="pending"><img src="{{ STATIC_URL }}img/flags/USA.png"> Seattle, WA, USA <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          	<li id="17" class="pending"><img src="{{ STATIC_URL }}img/flags/USA.png"> New York, NY, USA <span class="ip"></span><span class="spin"><i class="icon-spinner icon-spin icon-large"></i></span></li>
          </ul>
        
          	
         
          </form>
        </div><!-- /.span4 -->
        <div class="span8">
         <div id="map-canvas"></div>
          
        </div><!-- /.span4 -->
      </div><!-- /.row -->
{% endblock %}
